In [57]:
import numpy as np
import pandas as pd
from sklearn import neighbors,preprocessing,cross_validation

In [58]:
train = pd.read_csv('train.csv')

In [59]:
test = pd.read_csv('test.csv')

In [60]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
X = train
X.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",101,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",101,35.0,0,0,373450,8.0500,NaN,S

In [75]:
X=train.replace('male',101,inplace  = True)
X=train.replace('female',404,inplace  = True)

In [76]:
X.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [67]:
X =X.drop(['Name','Ticket','Embarked','Cabin'],1)

AttributeError: 'NoneType' object has no attribute 'drop'

In [68]:
X.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [64]:
y = train
y = y.drop(['PassengerId','Name','Ticket','Embarked','Pclass','Sex','Age','SibSp','Parch','Fare','Cabin'],1)

In [66]:
X_train,X_test,y_train,y_test = cross_validation.train_test_split(X,y,test_size = 0.2)

TypeError: Expected sequence or array-like, got <class 'NoneType'>

In [54]:
clf = neighbors.KNeighborsClassifier()

In [55]:
clf.fit(X_train,y_train)

ValueError: could not convert string to float: 'B96 B98'

In [ ]:
clf